.onboardingFrameContainer {
  display: flex;
  flex-direction: column;
}

.onboardingFrameBorder {
}

.onboardingFrameHeader {
}

.onboardingFrameTitle {
  margin-left: 20px;
  font-size: var(--large-font);
  font-weight: 700;
}

.onboardingFrameDescription {
  margin-top: 20px;
  margin-left: 20px;
  font-size: var(--small-font);
  font-weight: 400;
  line-height: 20px;
  color: gray;
}
.onboardingFrameInputsContainer {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.onboardingFrameInputsContainer form {
  display: flex;
  flex-direction: column;
}

.onboardingFrameControls {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
