.navLink {
  margin: 20px;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5rem;
  border: 3px solid white;
  border-radius: 10px;
}

.navLink:hover {
  border: 3px solid rgba(109, 166, 106, 0.1);
  border-radius: 10px;
  cursor: default;
}

.Mui-selected {
  background-color: rgba(109, 166, 106, 0.1) !important;
}
