.influencerAudienceOnboarding {
  display: flex;
  justify-content: space-between;
}

.influencerAudienceOnboarding p {
  font-size: var(--small-font);
  color: gray;
}

.influencerAudienceOnboardingLeft {
  width: 50%;
  margin-top: 20px;
}

.influencerAudienceOnboardingRight {
  margin: 20px auto;
}

.influencerAudienceOnboardingLeft > p,
.influencerAudienceOnboardingRight > p {
  margin-bottom: 20px;
}

.influencerAudienceOnboardingRight > p {
  margin-left: 20px;
}

.influencerAudienceOnboardingPercentages {
  display: flex;
  flex-wrap: wrap;
}

.influencerAudienceOnboardingPercentagesItems {
  flex: 0 0 25%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}
