.progessStepperContainer {
  padding: var(--space);
  margin-bottom: 1em;
}

.progessStepperContainer ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
}

.progessStepperContainer li {
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  background-color: white;
  z-index: 1;
}

.progessStepperContainer .stepItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progessStepperContainer .stepItemContainer .stepCircle {
  border: 2px solid lightslategray;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.progessStepperContainer li.active .stepItemContainer .stepCircle,
.progessStepperContainer li.completed .stepItemContainer .stepCircle {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.progessStepperContainer li.active .stepItemContainer .stepCircle {
  border: 2px solid var(--alternative-color);
}

.progessStepperContainer .stepItemContainer .stepCircle div {
  color: lightslategray;
  font-size: var(--small-font);
  font-weight: 600;
  line-height: 25px;
  margin-top: 6px;
}
.progessStepperContainer li.active .stepItemContainer .stepCircle div {
  position: relative;
  bottom: 1px;
}
.progessStepperContainer li.active .stepItemContainer .stepCircle div,
.progessStepperContainer li.completed .stepItemContainer .stepCircle div {
  color: white;
}

.progessStepperContainer .stepItemContainer .stepLabel {
  color: lightslategray;
  margin-top: 5px;
  font-weight: 600;
  font-size: var(--small-font);
  width: 100px;
  text-align: center;
}

.progessStepperContainer li.active .stepItemContainer .stepLabel {
  color: var(--alternative-color);
}

.progessStepperContainer li.completed .stepItemContainer .stepLabel {
  color: var(--primary-color);
}

.progessStepperContainer > li:first-child {
  padding-left: 0;
}

.progessStepperContainer > li:last-child {
  padding-right: 0;
}

.progessStepperContainer > ul:after {
  content: "";
  border-bottom: 5px solid lightgray;
  position: absolute;
  transform: translateY(-50%);
  top: 35%;
  width: 100%;
}
